/* GLOBAL STYLES */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing:inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* AUTOFILL-STYLES */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
} */

/* PLACEHOLDER COLOR */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgb(52, 49, 61);
  opacity: 1;
} */


/* CONTAINER */

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
}

.calc-inner {
  margin-top: 50px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding: 5px;
  background-color: #ddd;
}
.calc-wrapper {
  text-align: center;

}

.calc-title {
  color: #fff;
  background-color: darkred;
  font-weight: bold;

}

.calc-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc-item-name {
  margin-right: 20px;
}

.calc-input {
  width: 80px;
}

.tip-btn {
  padding: 2px 8px;
  cursor: pointer;
}

.tip-num {
  width: 40px;
}

.tip-num-person {
  width: 40px;
}

.bill {
  margin-bottom: 40px;
}

.tip-name {
  margin-right: 20px;
}

.bill-name {
  margin: 0;
}

.tip-italic {
  margin: 0;
  font-size: 12px;
  font-style: italic;
}

.calc-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.button {
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #777;
  cursor: pointer;
}

.calc-total {
  padding: 10px;
  border: 1px solid #777;
  background-color: #fff;
}

.calc-total-name {
  margin:0;
}

.content-item {
  display: flex;
  justify-content: center;
  align-items: center;

}

.item-name {
  margin: 0;
  margin-bottom: 15px;
  margin-right: 15px;

}

.tip-price {
  margin: 0;
  margin-bottom: 15px;
}
